<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="static/css/todo.css">
    </head>
    <body ng-app="TodoApp">
        <div ng-controller="TodoController" ng-init="init()">
            <form action="#" ng-submit="addButtonClicked()">
                <input type="text" ng-model="newItemName">
                <input type="submit" value="Add">
            </form>
            <ul>
                <li ng-repeat="todo in todos" class="{{ todo.css() }}">
                    <input type="checkbox" ng-model="todo.done">
                    {{ todo.name }} 
                </li>
            </ul>
        </div>

        <script type="text/javascript" src="static/js/lib/angular.min.js"></script>
        <script type="text/javascript" src="static/js/lib/angular-resource.min.js"></script>
        <script type="text/javascript" src="static/js/todo.js"></script>
    </body>
</html>
